<%= title "Homepage Top Anuncio" %>

<div class="row">
  <div class="col-xs-8">

    <% @announcements.each do |announcement| %>
      <li class="list-group-item">
      <h2><%= link_to announcement.title, announcement %></h2>
      <h3><%= announcement.description %></h3>
      <h3>Category: <%= announcement.category.description %></h3>
      <h3>Views: <%=announcement.view %></h3>


        <% announcement.avatars.each do |avatar| %>
          <%= image_tag (avatar.thumb.url) unless avatar.file.nil? %>
          <%break%>
        <% end %>

      <% if can? :manage, announcement %>
        <td><%= link_to '', edit_announcement_path(announcement), class: 'btn glyphicon glyphicon-wrench' %></td>
        <td><%= link_to '', announcement, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn glyphicon glyphicon-trash' %></td>
      <% end %>

      <hr/>
      </li>
    <% end %>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><%=link_to "TODAS AS CATEGORIAS", homepage_announcements_path() %></li>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to category.description, homepage_announcements_path(category_id: category.id) %>
              </li>
            <% end %>
        </ul>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
      </div>
      <div class="panel-body">
        <%= form_tag("/announcements/homepage", method: "post") do %>
          <%= text_field_tag(:search_term) %>
          <%= submit_tag("Search") %>
        <% end %>

      </div>
    </div>

  </div>
</div>
