<p id="notice"><%= notice %></p>

<h1>Announcements</h1>
<table class="table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>User</th>
      <th>Views</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
    <% if announcement.user == current_user %>
      <tr>
        <td><%= announcement.title %></td>
        <td><%= announcement.description %></td>
        <td><%= announcement.price %></td>
        <td><%= announcement.category.description %></td>
        <td><%= announcement.user.name %></td>
        <td><%= announcement.view %></td>
        <td><%= link_to 'Show', announcement %></td>
        <% if can? :manage, announcement %>
          <td><%= link_to '', edit_announcement_path(announcement), class: 'btn glyphicon glyphicon-wrench' %></td>
          <td><%= link_to '', announcement, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn glyphicon glyphicon-trash' %></td>
        <% end %>
      </tr>
    <%end%>

    <% end %>
  </tbody>

</table>
<br>

<%= link_to 'New Announcement', new_announcement_path %>
